#foreach($article in $articles)<div class='panel panel-default artIntro'>
	<div class='panel-body'>
		<div class='glyphicon glyphicon-bookmark'></div>
		<div class='date' title='创建于 $article.sPostTime'>
			<span class='month'>07月</span>
			<span class='day'>08</span>
		</div>
		<div class='title'>
			<h2><a href='${virtualPath}archive/${article._id}.html'>$article.Title</a></h2>
		</div>
		<div class='tag ta nav'>
			<span class='label label-default'>
				<span class='glyphicon glyphicon-user'></span>
				<a title='查看 我哪知道 的全部文章' href='/u/foreworld/'>我哪知道</a>
			</span>
			<span class='label label-default'>
				<span class='glyphicon glyphicon-home'></span>
				<a title='由 洪荒世界 发布' href='http://www.foreworld.net/'>洪荒世界</a>
			</span>
			<span class='label label-default'>
				<span class='glyphicon glyphicon-eye-open'></span>
				<a>$article.ViewCount2Money人</a>
			</span>
		</div>
		<figure class='thumbnail clearfix'>
			<a href='/archive/${article._id}.html'>
				<img src='/public/udata/foreworld/20140122/110203.jpg' alt='${virtualPath}public/udata/foreworld/20140122/110203.jpg'></a>
		</figure>
		<div class='well'>$article.Intro</div>
		<div class='footer'>
			#if($article.aTags)<div class='tag fl clearfix'>
				<span class='label label-default'>
					<span class='glyphicon glyphicon-tag'></span>
					#foreach($tag in $article.aTags)<a rel='tag' title='查看 $tag.TagName 标签' href='${virtualPath}archive/tag/$tag.TagName/'>$tag.TagName</a>#if($foreach.hasNext),#end
					#end
				</span>
			</div>#end
			<a class='btn btn-danger pull-right' href='/archive/${article._id}.html'
				title='详细阅读 $article.Title'>阅读全文 <span class='badge'>$article.ViewCount2Money</span></a>
		</div>
	</div>
</div>#end