<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('pagelet/IndexHeader.html')
		<style type='text/css'>
		a {
			color: #999999;
		}
		#table1 tbody td:nth-child(2) a {
			color: black;
		}
		#table1 tbody td a:hover {
			color: blue;
		}
		</style>
	</head>
	<body>
		#parse('pagelet/TopBanner.html')
		<header id='header'></header>
		<div class='container'>
			<div class='row'>
				#parse('user/Sidebar.html')
				<div class='col-sm-12 col-md-6'>
					<ul class='nav nav-tabs' role='tablist'>
						<li role='presentation'>
							<a href='javascript:;'>最新动态</a></li>
						<li role='presentation' class='active'>
							<a href='javascript:;'>博客</a></li>
						<li role='presentation'>
							<a href='javascript:;'>新闻</a></li>
					</ul>
					<table id='table1' data-olx-type='olx.grid'
						class='table table-hover table-condensed table-striped'
						data-url='/manage/role/list' data-current='1' data-pagesize='20' data-count='561'>
						<thead>
							<tr>
								<th>#</th>
								<th>标题</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>#set ($i=1)
							#foreach($article in $articles)<tr>
								<td>$i#set($i=$i+1)</td>
								<td>
									<a title='创建于 $article.sPostTime' target='_blank'
										href='${virtualPath}archive/${article._id}.html'>${article.Title}</a></td>
								<td>
									<a href='javascript:;'>编辑</a>
									<span class='caret'></span></td>
							</tr>#end
						</tbody>
					</table>
				</div>
				#parse('user/Sidebar2.html')
			</div>
		</div>
		#parse('pagelet/IndexFooter.html')
		#parse('pagelet/backTop.html')
		#parse('pagelet/IndexJs.html')
		<!-- Own -->
	</body>
</html>