<div class='col-sm-12 col-md-3'>
	<div class='panel panel-default'>
		<div class='panel-body'>
			<div class='owner'>
				<div class='owner-left'>
					<div class='face'>
						<a href='javascript:;'>
							<img src='${virtualPath}public/assets/images/face/48x48/08_avatar_small.jpg?0'></a>
					</div>
				</div>
				<div class='owner-right'>
					<div class='user_name'>
						<a href='javascript:;'>我哪知道</a></div>
					<div class='opt'>
						<img src='${virtualPath}public/assets/images/share/16x16/men.png'>
						<a href='javascript:;'>修改资料</a>
						<a href='javascript:;'>更换头像</a>
					</div>
				</div>
				<div class='clearfix'></div>
				<div class='owner-bot'>
					<a href='javascript:;'>关注(0)</a>&nbsp;
					<a href='javascript:;'>粉丝(0)</a>&nbsp;
					<a href='javascript:;'>积分(0)</a>
				</div>
			</div>
		</div>
	</div>
	<div class='panel panel-default'>
		<div class='panel-body'>
			<span class='glyphicon glyphicon-bullhorn'></span>
			这个人很懒，啥也没写
		</div>
	</div>
	<div class='panel panel-default olx-panel'>
		<div class='panel-heading'>
			<h3 class='panel-title'>常用操作</h3>
		</div>
		<div class='panel-body'>
			<ul class='list-group'>
				<li class='list-group-item'>
					<a href='javascript:;'>
						<div>发表博文»</div></a>
				</li>
				<li class='list-group-item'>
					<a href='javascript:;'>
						<div>空间管理</div></a>
				</li>
			</ul>
		</div>
	</div>
	<div class='panel panel-default olx-panel'>
		<div class='panel-heading'>
			<h3 class='panel-title'>关注</h3>
		</div>
		<div class='panel-body'>
			<ul class='list-group'>
			</ul>
		</div>
	</div>
	<div class='panel panel-default olx-panel'>
		<div class='panel-heading'>
			<h3 class='panel-title'>粉丝</h3>
		</div>
		<div class='panel-body'>
			<ul class='list-group'>
			</ul>
		</div>
	</div>
	<div class='panel panel-default olx-panel'>
		<div class='panel-heading'>
			<h3 class='panel-title'>访客统计</h3>
		</div>
		<div class='panel-body'>
			<ul class='list-group'>
				<li class='list-group-item'>
					<span class='badge'>1</span>
					<a href='javascript:;'>
						<div>今日访问 (查看最新访客)</div></a>
				</li>
				<li class='list-group-item'>
					<span class='badge'>32</span>
					<a href='javascript:;'>
						<div>昨日访问</div></a>
				</li>
				<li class='list-group-item'>
					<span class='badge'>10</span>
					<a href='javascript:;'>
						<div>本周访问</div></a>
				</li>
				<li class='list-group-item'>
					<span class='badge'>30</span>
					<a href='javascript:;'>
						<div>本月访问</div></a>
				</li>
				<li class='list-group-item'>
					<span class='badge'>121</span>
					<a href='javascript:;'>
						<div>所有访问</div></a>
				</li>
			</ul>
		</div>
	</div>
</div>