<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		#parse('pagelet/IndexHeader.html')
		<style>
		    #footer 
		    {
		    	position:fixed;
		    	left:0;
		    	bottom:0;
		    	width:100%;
		    }
		</style>
	</head>
	<body>
		#parse('pagelet/TopBanner.html')

		<header id="header"></header>

		<section class="container">
		    <div class="row">		    
                <div class="col-md-3 col-sm-4">
                    <form id="registerForm" role="form" onsubmit="return false;">
                        <h3>新用户注册</h3>
                        <div class="form-group">
                            <input type="text" id="userName" name="UserName" class="form-control" placeholder="用户名">
                        </div>
                        <div class="form-group">
                            <input type="password" id="userPass" name="UserPass" class="form-control" placeholder="密码">
                        </div>
                        <div class="form-group">
                            <input type="password" id="userPass2" class="form-control" placeholder="密码确认">
                        </div>
                        <button id="btn_register" type="button" class="btn btn-primary">注册</button>
                        <button type="button" class="btn btn-danger" onclick="history.back()">返回</button>
                    </form>                
                </div>
		    </div>
		</section>

        #parse('pagelet/IndexFooter.html')

        #parse('pagelet/IndexJs.html')

		<!-- Own -->
		<script type="text/javascript">
			function validateForm(){
				var formObj = $("#registerForm").serializeObjectForm();
				return formObj;
			}

			$(function(){
				$('#btn_register').click(function(){
					var formObj = validateForm();
					if(!formObj){
						alert('表单验证失败')
						return;
					}

        			var data = { data: JSON.stringify(formObj) };

					$.ajax({
						url: '/user/register.do',
						type: "POST",
						dataType: "json",
						data: data
					}).done(function(responseText) {
						console.log(responseText)
					}).complete(function(){
					});
				});
			});
		</script>

	</body>
</html>