<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		#parse('pagelet/IndexHeader.html')
		<style>
		    #footer {
		    	position:fixed;
		    	left:0;
		    	bottom:0;
		    	width:100%;
		    }
		    a {
				color: blue;
		    }
		</style>
	</head>
	<body>
		#parse('pagelet/TopBanner.html')
		<header id="header"></header>

		<section class="container">
		    <div class="row">		    
                <div class="col-md-12 col-sm-12">
					#if($status == 1)
					<h3>注册成功</h3>
					<h5>恭喜您：$user.UserName，请登陆您的电子邮箱，对帐户进行激活操作。</h5>
					#elseif($status == 2)
					<h3>$msg</h3>
					<h5>恭喜您：$user.UserName。</h5>
					#elseif($status == 3)
					<h3>$msg</h3>
					#elseif($status == 4)
					<h3>$msg</h3>
					#else
					<h3>$msg</h3>
					<h5>请<a href='javascript:location.reload()'>重试</a></h5>
					#end
                </div>
		    </div>
		</section>

        #parse('pagelet/IndexFooter.html')
        #parse('pagelet/IndexJs.html')
		<!-- Own -->
	</body>
</html>