<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('front/pagelet/Common.IndexHeader.html')
		<link rel='stylesheet' type='text/css' href='http://www.foreworld.net/public/site/css/artintro.css?v3' media='screen' />
		<link rel='stylesheet' type='text/css' href='http://www.foreworld.net/public/site/css/loadmore.css?v3' media='screen' />
	</head>
	<body>
		#parse('front/pagelet/Side.TopBanner.html')
		<header id='header'></header>
		<section class='container'>
			<div class='row'>
				<div class='col-sm-12 col-md-8'>
					#parse('front/pagelet/Side.TopMessage.html')
					#parse('front/pagelet/Side.TopmarksTopN.vm.html')
					#parse('front/pagelet/Side.ArticleIntros.vm.html')
				</div>
				<div class='col-sm-12 col-md-4'>
					#parse('front/pagelet/Side.HotArticlesTopN.vm.html')
					#parse('front/pagelet/Side.NewCommentsTopN.vm.html')
					#parse('front/pagelet/Side.UsefulLinks.vm.html')
					#parse('front/pagelet/Side.QrCode.html')
				</div>
				#parse('front/pagelet/Side.LoadMore.html')
			</div>
		</section>
		#parse('front/pagelet/Side.IndexFooter.html')
		#parse('front/pagelet/Side.BackTop.html')
		#parse('front/pagelet/Common.IndexJs.html')
		<!-- Own -->
		#parse('front/pagelet/Common.LastJs.html')
	</body>
</html>