<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('pagelet/IndexHeader.html')
	</head>
	<body>
		#parse('pagelet/TopBanner.html')
		<header id='header'></header>
		<div class='container'>
			<div class='row'>
				#parse('user/admin/Sidebar.html')
				<div class='col-sm-12 col-md-9'>
					<div class='panel panel-default'>
						<div class='panel-body'>
							<ol class='breadcrumb'>
								<li>
									<div class='glyphicon glyphicon-home'></div>
									<a href='../../'>空间</a></li>
								<li class='active'><a href='javascript:;'>博客</a></li>
								<li class='active'><a href='../new/blog'>发表博文</a></li>
							</ol>
							#parse('user/admin/blogFrm.html')
						</div>
					</div>
				</div>
			</div>
		</div>
		#parse('pagelet/IndexFooter.html')
		#parse('pagelet/backTop.html')
		#parse('pagelet/IndexJs.html')
		<!-- Own -->
		<script type='text/javascript'>
			function showVali(valiResu){ }

			function subFrm(){
				$('#blogFrm').olxForm('submit', [function(){
				}, function (valiResu){
					showVali(valiResu);
				}, function (data){
					if(!data.success) return showVali(data.msg);
				}]);
			}
			$('#btn_sub').click(subFrm);
		</script>
	</body>
</html>