<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('pagelet/IndexHeader.html')
		<link rel='stylesheet' type='text/css' href='${virtualPath}public/user/css/register.css?v1' media='screen'>
	</head>
	<body>
		#parse('pagelet/TopBanner.html')
		<header id='header'></header>
		<div class='container'>
			<div class='row'>
				<div class="col-sm-12 col-md-3">
					<div class="panel panel-default olx-panel">
						<div class="panel-heading">
							<h3 class="panel-title">博客管理</h3>
						</div>
						<div class="panel-body">
							<ul class="list-group olx-list-group">
							    <li class="list-group-item">
								    <a href="/archive/c8a08e7c920e11e3a195b888e3351e26.html" title="发表博文">
								        <div class="olx-text-ellipsis">发表博文</div>
					                </a>						        	
								</li>
							</ul>
							<ul class="list-group olx-list-group">
							    <li class="list-group-item">
								    <a href="/archive/c8a08e7c920e11e3a195b888e3351e26.html" title="草稿箱(0)">
								        <div class="olx-text-ellipsis">草稿箱(0)</div>
					                </a>						        	
								</li>
							</ul>
							<ul class="list-group olx-list-group">
							    <li class="list-group-item">
								    <a href="/archive/c8a08e7c920e11e3a195b888e3351e26.html" title="博客导出">
								        <div class="olx-text-ellipsis">博客导出</div>
					                </a>						        	
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-9">
					<div class="panel panel-default">
						<div class="panel-body">
							<ol class='breadcrumb'>
								<li>
									<div class='glyphicon glyphicon-home'></div>
									<a href='${virtualPath}index.html'>空间</a></li>
								<li class='active'>
									<a>博客</a></li>
								<li class='active'>
									<a>发表博文</a></li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
        #parse('pagelet/IndexFooter.html')
        #parse('pagelet/IndexJs.html')
		<!-- Own -->
		<script type="text/javascript">
		</script>
	</body>
</html>