<div class='col-sm-12 col-md-3'>
	<div class='panel panel-default olx-panel'>
		<div class='panel-heading'>
			<h3 class='panel-title'>个人信息管理</h3>
		</div>
		<div class='panel-body'>
			<ul class='list-group'>
				<li class='list-group-item'>
					<a href='/archive/c8a08e7c920e11e3a195b888e3351e26.html'>
						<div>站内留言</div></a>
				</li>
				<li class='list-group-item'>
					<a href='/archive/c8a08e7c920e11e3a195b888e3351e26.html'>
						<div>修改个人资料</div></a>
				</li>
				<li class='list-group-item'>
					<a href='/archive/c8a08e7c920e11e3a195b888e3351e26.html'>
						<div>修改登录密码</div></a>
				</li>
				<li class='list-group-item'>
					<a href='/archive/c8a08e7c920e11e3a195b888e3351e26.html'>
						<div>更改头像图片</div></a>
				</li>
				<li class='list-group-item'>
					<a href='/archive/c8a08e7c920e11e3a195b888e3351e26.html'>
						<div>空间个性化设置</div></a>
				</li>
				<li class='list-group-item'>
					<a href='/archive/c8a08e7c920e11e3a195b888e3351e26.html'>
						<div>个人隐私设置</div></a>
				</li>
				<li class='list-group-item'>
					<a href='/archive/c8a08e7c920e11e3a195b888e3351e26.html'>
						<div>群动态设置</div></a>
				</li>
				<li class='list-group-item'>
					<a href='/archive/c8a08e7c920e11e3a195b888e3351e26.html'>
						<div>邮件提醒设置</div></a>
				</li>
				<li class='list-group-item'>
					<a href='/archive/c8a08e7c920e11e3a195b888e3351e26.html'>
						<div>修改登录邮箱</div></a>
				</li>
				<li class='list-group-item'>
					<a href='/archive/c8a08e7c920e11e3a195b888e3351e26.html'>
						<div>绑定外部帐号登录</div></a>
				</li>
				<li class='list-group-item'>
					<a href='/archive/c8a08e7c920e11e3a195b888e3351e26.html'>
						<div>勋章管理</div></a>
				</li>
			</ul>
		</div>
	</div>
	<div class='panel panel-default olx-panel'>
		<div class='panel-heading'>
			<h3 class='panel-title'>博客管理</h3>
		</div>
		<div class='panel-body'>
			<ul class='list-group'>
				<li class='list-group-item active'>
					<a href='/archive/c8a08e7c920e11e3a195b888e3351e26.html'>
						<div>发表博文</div></a>
				</li>
				<li class='list-group-item'>
					<span class='badge'>0</span>
					<a href='/archive/c8a08e7c920e11e3a195b888e3351e26.html'>
						<div>草稿箱</div></a>
				</li>
				<li class='list-group-item'>
					<a href='/archive/c8a08e7c920e11e3a195b888e3351e26.html'>
						<div>博客设置/分类管理</div></a>
				</li>
				<li class='list-group-item'>
					<a href='/archive/c8a08e7c920e11e3a195b888e3351e26.html'>
						<div>博客评论管理</div></a>
				</li>
				<li class='list-group-item'>
					<a href='/archive/c8a08e7c920e11e3a195b888e3351e26.html'>
						<div>博客导出</div></a>
				</li>
			</ul>
		</div>
	</div>
</div>