<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<title>OverAll</title>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html;charset=utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	    <!-- Bootstrap -->
	    <link rel="stylesheet" type="text/css" href="${cdn}/bootstrap/3.0.3/dist/css/bootstrap.min.css" media="screen">
	    <link rel="stylesheet" type="text/css" href="${cdn}/bootstrap/3.0.3/dist/css/bootstrap-theme.min.css" media="screen">
	    <link rel="stylesheet" type="text/css" href="${cdn}/bootstrap-datetimepicker/2.2.0/css/bootstrap-datetimepicker.min.css" media="screen">
		<link rel="stylesheet" type="text/css" href="${cdn}/ztree/3.5.15/css/zTreeStyle/zTreeStyle.css">
	    <link rel="stylesheet" type="text/css" href="${cdn}/olxjs/1.0.0/css/olx/olx.css" media="screen">

		<link rel="stylesheet" type="text/css" href="${virtualPath}public/manage/css/style.css">

	    <style type="text/css">
			.ztree{
				background: none repeat scroll 0 0 #F0F6E4;
				border: 1px solid #DDDDDD;
				height: 260px;
				overflow-x: auto;
				overflow-y: scroll;
				width: 100%;
			}
			.ztree li span.button.switch.level0 {visibility:hidden; width:1px;}
			.ztree li ul.level0 {padding:0; background:none;}
	    </style>
	</head>
	<body>
		<div class="navbar navbar-fixed-top" role="navigation">
			<ul class="breadcrumb">
				<li>当前位置：<div class="glyphicon glyphicon-home"></div> 首页</li>
				<li class="active">系统管理</li>
				<li><a href="javascript:;" onclick="location.reload()">模块管理</a></li>
			</ul>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="info_alert" class="alert alert-info">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>提示：</strong>设置系统中所有的模块信息。
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title"><strong>查询条件</strong></h3>
						</div>
						<div class="panel-body">
							<form class="form-inline" role="form">
								<div class="form-group">
									<input type="text" class="form-control" id="inputEmail3" placeholder="模块名称">
								</div>
								<button type="button" class="btn btn-default olx-glyphicon glyphicon-search olx-glyphicon-btn">查询</button>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<div id="modTree" class='ztree'></div>
				</div>
				<div class="col-md-9">
 					<div class="panel panel-default table-responsive">
						<div class="panel-heading">
							<div class="btn-group">
							    <button class="btn btn-primary olx-glyphicon glyphicon-plus-sign olx-glyphicon-btn" data-toggle="modal" data-target="#addModal">新增</button>
								<button id="btn_edit" class="btn btn-default olx-glyphicon glyphicon-edit olx-glyphicon-btn">编辑</button>
							    <button id="btn_del" class="btn btn-danger olx-glyphicon glyphicon-remove-sign olx-glyphicon-btn">删除</button>
							</div>
 						</div>
 						#parse("Manage/Module/ModuleList.html")
					</div>
				</div>
			</div>
		</div>

		<div id="addModal" class="modal fade" aria-hidden="true" aria-labelledby="addModalLabel" role="dialog" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
						<h4 id="addModalLabel" class="modal-title"><b>新增</b></h4>
					</div>
					<form id="addFrm" data-olx-type="olx.form" class="form-horizontal" role="form" data-url="add.do">
						<input type="hidden" id="addFrm_PId" name="PId" value="0">
						<div class="modal-body">
							<div class="form-group">
								<label for="addFrm_ModuleName" class="col-sm-3 control-label"><span class="olx-form-required">*</span>模块名称</label>
								<div class="col-sm-7">
									<input type="text" data-olx-type="olx.form.input" data-required="true" class="form-control" id="addFrm_ModuleName" name="ModuleName" placeholder="模块名称" data-placement="bottom" data-original-title="请输入正确的格式。" autofocus>
								</div>
							</div>
							<div class="form-group">
								<label for="addFrm_ModuleUrl" class="col-sm-3 control-label">模块地址</label>
								<div class="col-sm-7">
									<input type="text" data-olx-type="olx.form.input" class="form-control" id="addFrm_ModuleUrl" name="ModuleUrl" placeholder="模块地址">
								</div>
							</div>
							<div class="form-group">
								<label for="addFrm_Sort" class="col-sm-3 control-label">排序</label>
								<div class="col-sm-7">
									<input type="text" data-olx-type="olx.form.input" class="form-control" id="addFrm_Sort" name="Sort" placeholder="排序">
								</div>
							</div>
							<div class="form-group">
								<label for="addFrm_CreateTime" class="col-sm-3 control-label">创建时间</label>
								<div class="col-sm-7">
									<div class="input-group date form_date col-md-12" data-date="" data-date-format="yyyy-mm-dd" data-link-field="addFrm_CreateTime" data-link-format="yyyy-mm-dd">
										<input class="form-control" type="text" value="" readonly placeholder="创建时间">
										<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
										<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
									</div>
									<input type="hidden" data-olx-type="olx.form.input" class="form-control" id="addFrm_CreateTime" name="CreateTime" placeholder="创建时间">
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-default" data-dismiss="modal" type="button">关闭</button>
							<button class="btn btn-warning" type="reset">重置</button>
							<button id='addFrm_btn_submit' class="btn btn-primary" type="button">保存</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div id="editModal" class="modal fade" aria-hidden="true" aria-labelledby="editModalLabel" role="dialog" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
						<h4 id="editModalLabel" class="modal-title"><b>编辑</b></h4>
					</div>
					<form id="editFrm" data-olx-type="olx.form" class="form-horizontal" role="form" data-url="edit.do">
						<input type="hidden" id="editFrm_Id" name="Id" value="0">
						<div class="modal-body">
							<div class="form-group">
								<label for="editFrm_ModuleName" class="col-sm-3 control-label"><span class="olx-form-required">*</span>模块名称</label>
								<div class="col-sm-7">
									<input type="text" data-olx-type="olx.form.input" data-required="true" class="form-control" id="editFrm_ModuleName" name="ModuleName" placeholder="模块名称" data-placement="bottom" data-original-title="请输入正确的格式。" autofocus>
								</div>
							</div>
							<div class="form-group">
								<label for="editFrm_ModuleUrl" class="col-sm-3 control-label">模块地址</label>
								<div class="col-sm-7">
									<input type="text" data-olx-type="olx.form.input" class="form-control" id="editFrm_ModuleUrl" name="ModuleUrl" placeholder="模块地址">
								</div>
							</div>
							<div class="form-group">
								<label for="editFrm_Sort" class="col-sm-3 control-label">排序</label>
								<div class="col-sm-7">
									<input type="text" data-olx-type="olx.form.input" class="form-control" id="editFrm_Sort" name="Sort" placeholder="排序">
								</div>
							</div>
							<div class="form-group">
								<label for="editFrm_CreateTime" class="col-sm-3 control-label">创建时间</label>
								<div class="col-sm-7">
									<div class="input-group date form_date col-md-12" data-date="" data-date-format="yyyy-mm-dd" data-link-field="editFrm_CreateTime" data-link-format="yyyy-mm-dd">
										<input class="form-control" id="editFrm_shadow_CreateTime" type="text" value="" readonly placeholder="创建时间">
										<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
										<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
									</div>
									<input type="hidden" data-olx-type="olx.form.input" class="form-control" id="editFrm_CreateTime" placeholder="创建时间">
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-default" data-dismiss="modal" type="button">关闭</button>
							<button class="btn btn-warning" type="reset">重置</button>
							<button id='editFrm_btn_submit' class="btn btn-primary" type="button">保存</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="modal fade" id="delConfirmModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title"><b>警告</b></h4>
					</div>
					<div class="modal-body">
						<p>你确认执行该删除操作吗？</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" id="delConfirmModal_btn_submit">确认</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div class="modal fade" id="delAlertModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title"><b>提示</b></h4>
					</div>
					<div class="modal-body">
						<p>请选择需要删除的记录！</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div class="modal fade" id="editAlertModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title"><b>提示</b></h4>
					</div>
					<div class="modal-body">
						<p>请选择一条需要编辑的记录！</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<script type="text/javascript" src="${cdn}/jquery/2.0.2/jquery.min.js"></script>
		<script type="text/javascript" src="${cdn}/bootstrap/3.0.3/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="${cdn}/underscore/1.5.1/underscore.min.js"></script>
		<script type="text/javascript" src="${cdn}/ztree/3.5.15/js/jquery.ztree.core-3.5.js"></script>
		<script type="text/javascript" src="${cdn}/olxjs/1.0.0/js/olx.js?v12"></script>
		<script type="text/javascript" src="${cdn}/bootstrap-datetimepicker/2.2.0/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
		<script type="text/javascript" src="${cdn}/bootstrap-datetimepicker/2.2.0/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

		<!-- Own -->
		<script type="text/javascript">
			$('.form_date').datetimepicker({
				language:  'zh-CN',
				weekStart: 1,
				todayBtn:  1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				minView: 2,
				forceParse: 0
			});

			function dblClickExpand(treeId, treeNode) {
				return treeNode.level > 0;
			}

			var setting = {
				view: {
					dblClickExpand: dblClickExpand
				},
				data: {
					simpleData: {
						enable: true
					}
				},
				callback: {
					beforeClick: function(treeId, treeNode) {
						var pid = treeNode.id;
						$('#addFrm_PId').val(pid);

						$("#table1").olxGrid("loadData", [{
							PId: pid
						}, function(data){
							if(300 === data.responseJSON.code){
								top.location.href = '/manage/user/login';
							}
						}]);
					}
				}
			};

			var modules = [${modules}];

			for(var i=0; i<modules.length; i++){
				var module = modules[i];
				module.id = module.Id;
				module.pId = module.PId;
				module.name = module.ModuleName;
				module.file = module.ModuleUrl;
				module.open = true;
			}

			modules.push({
				id: '0',
				pid: 'root',
				name: '根 Root',
				open: true
			});

			$(function(){
				$.fn.zTree.init($("#modTree"), setting, modules);
			});

			$("#editModal").on("show.bs.modal", function (e) {
				var vals = $("#table1").olxGrid("getCheckedRowsValue", 1);
				if(1 != vals.length) {
					$("#editAlertModal").modal();
					return e.preventDefault();
				}

				$.ajax({
					url: vals[0] +'.do',
					type: "POST",
					dataType: "json"
				}).done(function(responseText) {
					if(300 === responseText.code) return top.location.href = '/manage/user/login';
					if(!responseText.success){
						alert(responseText.msg);
						return e.preventDefault();
					}

					var data = responseText.data;

					$('#editFrm_Id').val(vals[0]);
					$('#editFrm_ModuleName').val(data[0].ModuleName);
					$('#editFrm_ModuleUrl').val(data[0].ModuleUrl);
					$('#editFrm_Sort').val(data[0].Sort);
					$('#editFrm_CreateTime').val(data[1].sCreateTime);
					$('#editFrm_shadow_CreateTime').val(data[1].sCreateTime);
				});
			})

			$("#btn_edit").click(function(){
				$("#editModal").modal();
			});

			$("#delConfirmModal").on("show.bs.modal", function (e) {
				var vals = $("#table1").olxGrid("getCheckedRowsValue", 1);
				if(!vals.length) {
					$("#delAlertModal").modal();
					return e.preventDefault();
				}
			})

			/* 绑定删除按钮，弹出提示对话框或确认对话框 */
			$("#btn_del").click(function(){
				$("#delConfirmModal").modal();
			});

			$('#addFrm_btn_submit').click(function(){
				$('#addFrm').olxForm('submit', function(responseText){
					if(responseText.code){
						if(300 === responseText.code){
							top.location.href = '/manage/user/login';
							return;
						}
					}

					if(responseText.success){
						location.reload();
					}else{
						alert(responseText.msg);
					}
				});
			});

			$('#editFrm_btn_submit').click(function(){
				$('#editFrm').olxForm('submit', function(responseText){
					if(responseText.code){
						if(300 === responseText.code){
							top.location.href = '/manage/user/login';
							return;
						}
					}

					if(responseText.success){
						location.reload();
					}else{
						alert(responseText.msg);
					}
				});
			});

			$('#delConfirmModal_btn_submit').click(function(){
				var selIds = $("#table1").olxGrid("getCheckedRowsValue", 1);
				if(!selIds.length) return;

				$.ajax({
					url: 'del.do',
					type: "POST",
					dataType: "json",
					data: {
						data: JSON.stringify({ Ids: selIds })
					}
				}).done(function(responseText) {
					if(300 === responseText.code) return top.location.href = '/manage/user/login';
					if(!responseText.success) return alert(responseText.msg);
					location.reload();
				}).complete(function(){
				});
			});
		</script>
	</body>
</html>