<table id="table1" data-olx-type="olx.grid" class="table table-bordered table-hover table-condensed table-striped" data-url="/manage/module/list" data-current="1" data-pagesize="20" data-count="561">
	<thead>
		<tr>
			<th class="olx-table-th-center"><input type="checkbox" title="全选/取消"></th>
			<th>模块名称</th>
			<th>模块地址</th>
			<th>排序</th>
			<th>创建时间</th>
		</tr>
	</thead>
	<tbody>
		#foreach($module in $cmodules)
		<tr>
			<td class="olx-table-td-center"><input type="checkbox" value="$module.Id"></td>
			<td>$module.ModuleName</td>
			<td>$module.ModuleUrl</td>
			<td>$module.Sort</td>
			<td>$module.sCreateTime</td>
		</tr>
		#end
	</tbody>
</table>