<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('pagelet/IndexHeader.html')
		<link rel='stylesheet' type='text/css' href='http://www.foreworld.net/public/site/css/artintro.css?v3' media='screen' />
		<link rel='stylesheet' type='text/css' href='http://www.foreworld.net/public/site/css/loadmore.css?v3' media='screen' />
	</head>
	<body>
		#parse('pagelet/TopBanner.html')
		<header id='header'></header>
		<section class='container'>
			<div class='row'>
				<div class='col-sm-12 col-md-8'>
					#parse('pagelet/TopMessage.html')
					#parse('pagelet/TopMarks.vm.html')
					#parse('pagelet/ArticleIntros.vm.html')
				</div>
				<div class='col-sm-12 col-md-4'>
					#parse('pagelet/Side.Art.View.vm.html')
					#parse('pagelet/Side.Comment.vm.html')
					#parse('pagelet/UsefulLinks.vm.html')
					#parse('pagelet/qrCode.html')
				</div>
				#parse('pagelet/LoadMore.html')
			</div>
		</section>
		#parse('pagelet/IndexFooter.html')
		#parse('pagelet/backTop.html')
		#parse('pagelet/IndexJs.html')
		<!-- Own -->
		#parse('pagelet/LastJs.html')
	</body>
</html>