<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('pagelet/IndexHeader.html')
		<link rel='stylesheet' type='text/css' href='${virtualPath}public/site/css/index.css?v3' media='screen' />
		<link rel='stylesheet' type='text/css' href='${virtualPath}public/site/css/artintro.css?v3' media='screen' />
	</head>
	<body>
		#parse('pagelet/TopBanner.html')
		<header id='header'></header>
		<section class='container'>
			<div class='row'>
				<div class='col-sm-12 col-md-8'>
					#parse('pagelet/TopMessage.html')
					#parse('pagelet/html/topMarks.html')
					#parse('pagelet/html/hp.artIntro.top10.html')
				</div>
				<div class='col-sm-12 col-md-4'>
					#parse('pagelet/html/side.art.view.top10.html')
					#parse('pagelet/html/side.comment.top10.html')
					#parse('pagelet/html/usefulLinks.html')
					<div id='qrCode'>
						<figure>
							<img src='${virtualPath}public/assets/images/foreworld.png' alt='二维码' title='洪荒世界'></figure>
					</div>
				</div>
				#parse('pagelet/LoadMore.html')
			</div>
		</section>
		#parse('pagelet/IndexFooter.html')
		#parse('pagelet/backTop.html')
		#parse('pagelet/IndexJs.html')
		<!-- Own -->
		<script type='text/javascript'>
		$(function(){
			$('.flexslider').flexslider({
				animation: 'slide'
			});
		});
		</script>
	</body>
</html>