<!DOCTYPE HTML>
<HTML>
	<HEAD>
		<meta http-equiv="Content-type" content="text/html;charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<TITLE>核心平台</TITLE>
		<link rel="STYLESHEET" type="text/css" href="${cdn}/dhtmlx/3.6/dhtmlxTabbar/codebase/dhtmlxtabbar.css">
		<link rel="stylesheet" type="text/css" href="${cdn}/dhtmlx/3.6/dhtmlxTree/codebase/dhtmlxtree.css">
		<link rel="stylesheet" type="text/css" href="${cdn}/dhtmlx/3.6/dhtmlxAccordion/codebase/skins/dhtmlxaccordion_dhx_skyblue.css">
		<link rel="stylesheet" type="text/css" href="${cdn}/dhtmlx/3.6/dhtmlxLayout/codebase/dhtmlxlayout.css">
		<link rel="stylesheet" type="text/css" href="${cdn}/dhtmlx/3.6/dhtmlxLayout/codebase/skins/dhtmlxlayout_dhx_skyblue.css">

		<link rel="stylesheet" type="text/css" href="${virtualPath}public/tradition/style.css">
	<!--[if lt IE 8 ]>
		<link rel="stylesheet" type="text/css" href="${virtualPath}public/tradition/style.ie8.css">
	<![endif]-->
	</HEAD>
	<BODY class="fore">
		<div id="div_loader"><div>页面正在加载 ...</div></div>
		<table id="div_head" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td class="top_logo">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="36%" height="66">&nbsp;</td>
							<td width="25%" valign="top">&nbsp;</td>
							<td width="39%" align="left">
								<table width="100%" border="0" cellspacing="1" cellpadding="1">
									<tr>
										<td height="14" align="right" class="top_a">
											<a href="#page/welcome">首页</a>&nbsp;|
											<a href="javascript:void(0);">语言设置</a>&nbsp;|
											<a href="javascript:void(0);">皮肤设置</a>&nbsp;|
											<a href="javascript:void(0);">修改密码</a>&nbsp;|
											<a href="javascript:void(0);">使用帮助</a>&nbsp;|
											<a href="javascript:void(0);" id="a_quit" class="quit_a">安全退出</a>
										</td>
										<td align="right">&nbsp;</td>
									</tr>
									<tr>
										<td height="30" align="right" class="quit_a">系统管理员 上午好 工作辛苦了！</td>
										<td align="right">&nbsp;</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<iframe id="ifr_mainTabs" frameborder="0" height="100%" width="100%" src=""></iframe>		
		<div id="div_foot"><span>版权所有：核心科技</span></div>	
		<div id="div_tree"></div>
		<div id="div_center"></div>
		<!--[if lt IE 10]> <script type="text/javascript" src="${cdn}/html5shiv/3.6.2/html5.js"></script> <![endif]-->
		<script>
			var menuTree = [
		    	{ModuleId: 1, PModuleId: 0, ModuleName: "系统管理"},
		    	{ModuleId: 11, PModuleId: 1, ModuleName: "模块管理"},
		    	{ModuleId: 13, PModuleId: 1, ModuleName: "角色管理"},
		    	{ModuleId: 12, PModuleId: 1, ModuleName: "用户管理"},

		    	{ModuleId: 4, PModuleId: 0, ModuleName: "业务平台"},
		    	{ModuleId: 41, PModuleId: 4, ModuleName: "设备管理", ModuleUrl: "low/cardTypeSet/indexUI.html"}
		    ];

			var	cdnPath = "${cdn}/";
			var dhxPath = "dhtmlx/3.6/";
			var require = {
				waitSeconds: 0,
				urlArgs: "v="+ (new Date()).getTime(),
				deps: [
					cdnPath + dhxPath +"dhtmlxTabbar/codebase/dhtmlxcommon.js",
					cdnPath + dhxPath +"dhtmlxTabbar/codebase/dhtmlxcontainer.js"
				],
				callback: function(){
					//console.log(arguments);
				}
			};
			var config = {
				waitSeconds: 0,
				locale: location.search.match(/locale=([\w\-]+)/) ? RegExp.$1 : "zh",
				paths: {
					jquery: cdnPath +"jquery/1.10.2/jquery.min",
					i18n: cdnPath +"require/i18n",
					underscore: cdnPath +"underscore/1.5.1/underscore.min",
					backbone: cdnPath +"backbone/1.0.0/backbone.min",
					dhtmlxtabbar: cdnPath + dhxPath +"dhtmlxTabbar/codebase/dhtmlxtabbar",
					dhtmlxtree: cdnPath + dhxPath +"dhtmlxTree/codebase/dhtmlxtree",
					dhtmlxtree_json: cdnPath + dhxPath +"dhtmlxTree/codebase/ext/dhtmlxtree_json",
					dhtmlxaccordion: cdnPath + dhxPath +"dhtmlxAccordion/codebase/dhtmlxaccordion",
					dhtmlxlayout: cdnPath + dhxPath +"dhtmlxLayout/codebase/dhtmlxlayout"
				},
				shim: {
					dhtmlxtree_json: {
						deps: ["dhtmlxtabbar","dhtmlxtree","dhtmlxaccordion"]
					},
					backbone: {
                        deps: ["underscore"],
                        exports: "Backbone"
                    }
				},
				callback: function(){
					//console.log(arguments);
				}
			};
		</script>
        <script data-main="${virtualPath}public/tradition/main" src="${cdn}/require/2.1.6/require.js"></script>
	</BODY>
</HTML>
