<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<title>OverAll</title>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html;charset=utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	    <!-- Bootstrap -->
	    <link rel="stylesheet" type="text/css" href="${cdn}/bootstrap/3.0.3/dist/css/bootstrap.min.css" media="screen">
	    <link rel="stylesheet" type="text/css" href="${cdn}/bootstrap/3.0.3/dist/css/bootstrap-theme.min.css" media="screen">
	    <link rel="stylesheet" type="text/css" href="${cdn}/bootstrap-datetimepicker/2.2.0/css/bootstrap-datetimepicker.min.css" media="screen">
	    <link rel="stylesheet" type="text/css" href="${cdn}/olxjs/1.0.0/css/olx/olx.css" media="screen">

		<link rel="stylesheet" type="text/css" href="${virtualPath}public/manage/css/style.css">
	</head>
	<body>
		<div class="navbar navbar-fixed-top" role="navigation">
			<ul class="breadcrumb">
				<li>当前位置：<div class="glyphicon glyphicon-home"></div> 首页</li>
				<li class="active">系统管理</li>
				<li><a href="javascript:;" onclick="location.reload()">用户管理</a></li>				
			</ul>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="info_alert" class="alert alert-info">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>提示：</strong>设置系统中所有的用户信息。
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title"><strong>查询条件</strong></h3>
						</div>
						<div class="panel-body">
							<form class="form-inline" role="form" onsubmit='return false;'>
								<div class="form-group">
									<input type="text" class="form-control" id="inputEmail3" placeholder="用户名">
								</div>
								<div class="form-group">
									<select class="form-control" id="certificate">
										<option value="">性别</option>
										<option value="1">男</option>
										<option value="2">女</option>
										<option value="3">未知</option>
									</select>
								</div>
								<button type="submit" class="btn btn-default olx-glyphicon glyphicon-search olx-glyphicon-btn">查询</button>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
 					<div class="panel panel-default table-responsive">
						<div class="panel-heading">
							<div class="btn-group">
							    <button class="btn btn-primary olx-glyphicon glyphicon-plus-sign olx-glyphicon-btn" data-toggle="modal" data-target="#addModal">新增</button>
								<button id="btn_edit" class="btn btn-default olx-glyphicon glyphicon-edit olx-glyphicon-btn">编辑</button>
							    <button id="btn_del" class="btn btn-danger olx-glyphicon glyphicon-remove-sign olx-glyphicon-btn">删除</button>
							</div>
						    <div class="navbar-btn navbar-right hide-xs">
								<div class="btn-group">
									<button type="button" class="btn btn-success olx-glyphicon glyphicon-trash olx-glyphicon-btn">查看回收站</button>
								</div>
							</div>
 						</div>
 						#parse("Manage/Manager/UserList.html")
					</div>
				</div>
			</div>
		</div>

		<div id="addModal" class="modal fade" aria-hidden="true" aria-labelledby="addModalLabel" role="dialog" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
						<h4 id="addModalLabel" class="modal-title"><b>新增</b></h4>
					</div>
					<form id="addFrm" data-olx-type="olx.form" class="form-horizontal" role="form" data-url="add.do">
						<div class="modal-body">
							<div class="form-group">
								<label for="addFrm_UserName" class="col-sm-3 control-label"><span class="olx-form-required">*</span>用户名</label>
								<div class="col-sm-7">
									<input type="text" data-olx-type="olx.form.input" data-required="true" class="form-control" id="addFrm_UserName" name="UserName" placeholder="用户名" data-placement="bottom" data-original-title="请输入正确的格式。" autofocus>
								</div>
							</div>
							<div class="form-group">
								<label for="addFrm_Sex" class="col-sm-3 control-label">性别</label>
								<div class="col-sm-7">
									<select class="form-control" id="addFrm_Sex" name='sex'>
										<option value="1">男</option>
										<option value="2">女</option>
										<option value="3">未知</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="addFrm_shadow_CreateTime" class="col-sm-3 control-label">创建时间</label>
								<div class="col-sm-7">
									<div class="input-group date form_date col-md-12" data-date="" data-date-format="yyyy/mm/dd" data-link-field="addFrm_CreateTime" data-link-format="yyyy/mm/dd">
										<input class="form-control" id='addFrm_shadow_CreateTime' type="text" value="" readonly placeholder="创建时间">
										<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
										<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
									</div>
									<input type="hidden" data-olx-type="olx.form.input" class="form-control" id="addFrm_CreateTime" name="CreateTime" placeholder="创建时间">
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-default" data-dismiss="modal" type="button">关闭</button>
							<button class="btn btn-warning" type="reset">重置</button>
							<button id='addFrm_btn_submit' class="btn btn-primary" type="button">保存</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div id="editModal" class="modal fade" aria-hidden="true" aria-labelledby="editModalLabel" role="dialog" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
						<h4 id="editModalLabel" class="modal-title"><b>新增</b></h4>
					</div>
					<form id="editFrm" data-olx-type="olx.form" class="form-horizontal" role="form" data-url="edit.do">
						<input type="hidden" id="editFrm_Id" name="Id" value="0">
						<div class="modal-body">
							<div class="form-group">
								<label for="editFrm_UserName" class="col-sm-3 control-label"><span class="olx-form-required">*</span>用户名</label>
								<div class="col-sm-7">
									<input type="text" data-olx-type="olx.form.input" data-required="true" class="form-control" id="editFrm_UserName" name="UserName" placeholder="用户名" data-placement="bottom" data-original-title="请输入正确的格式。" autofocus>
								</div>
							</div>
							<div class="form-group">
								<label for="editFrm_Sex" class="col-sm-3 control-label">性别</label>
								<div class="col-sm-7">
									<select class="form-control" id="editFrm_Sex" name='sex'>
										<option value="1">男</option>
										<option value="2">女</option>
										<option value="3">未知</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="editFrm_shadow_CreateTime" class="col-sm-3 control-label">创建时间</label>
								<div class="col-sm-7">
									<div class="input-group date form_date col-md-12" data-date="" data-date-format="yyyy/mm/dd" data-link-field="editFrm_CreateTime" data-link-format="yyyy/mm/dd">
										<input class="form-control" id='editFrm_shadow_CreateTime' type="text" value="" readonly placeholder="创建时间">
										<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
										<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
									</div>
									<input type="hidden" data-olx-type="olx.form.input" class="form-control" id="editFrm_CreateTime" name="CreateTime" placeholder="创建时间">
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-default" data-dismiss="modal" type="button">关闭</button>
							<button class="btn btn-warning" type="reset">重置</button>
							<button id='editFrm_btn_submit' class="btn btn-primary" type="button">保存</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="${cdn}/jquery/2.0.2/jquery.min.js"></script>
		<script type="text/javascript" src="${cdn}/bootstrap/3.0.3/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="${cdn}/underscore/1.5.1/underscore.min.js"></script>
		<script type="text/javascript" src="${cdn}/olxjs/1.0.0/js/olx.min.js?v12"></script>
		<script type="text/javascript" src="${cdn}/bootstrap-datetimepicker/2.2.0/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
		<script type="text/javascript" src="${cdn}/bootstrap-datetimepicker/2.2.0/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

		<!-- Own -->
		<script type="text/javascript">
			$('.form_date').datetimepicker({
				language:  'zh-CN',
				weekStart: 1,
				todayBtn:  1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				minView: 2,
				forceParse: 0
			});

			$(function(){
			});

			$("#btn_edit").click(function(){
				var vals = $("#table1").olxGrid("getCheckedRowsValue", 1);
				if(1 !== vals.length) return $("#editAlertModal").modal();

				$.ajax({
					url: vals[0] +'.do',
					type: "GET",
					dataType: "json"
				}).done(function(responseText) {
					if(300 === responseText.code) return top.location.href = '/manage/user/login';
					if(!responseText.success) return alert(responseText.msg);

					$("#editModal").modal();

					var data = responseText.data;
					$('#editFrm_Id').val(vals[0]);
					$('#editFrm_UserName').val(data[0].UserName);
					$('#editFrm_Sex').val(data[0].Sex);
					$('#editFrm_shadow_CreateTime').val(data[1].CreateTime);
				});
			});

		</script>
	</body>
</html>