<table id="table1" data-olx-type="olx.grid" class="table table-bordered table-hover table-condensed table-striped" data-url="grid_2.html" data-current="2" data-pagesize="20" data-count="561">
	<thead>
		<tr>
			<th class="olx-table-th-center"><input type="checkbox" title="全选/取消"></th>
			<th>用户名</th>
			<th>密码</th>
			<th>性别</th>
			<th>创建时间</th>
		</tr>
	</thead>
	<tbody>
		#foreach($user in $users)
		<tr>
			<td class="olx-table-td-center"><input type="checkbox" value="$user.Id"></td>
			<td>$user.UserName</td>
			<td>$user.UserPass</td>
			<td>$user.sSex</td>
			<td>${user.sCreateTime}</td>
		</tr>
		#end
	</tbody>
</table>