.artIntro {

	.date {
		background-color: #D9534F;
		border-color: #D43F3A;
		border-radius: 100px;
		color: #FFFFFF;
		height: 70px;
		left: -30px;
		padding-top: 10px;
		top: -30px;
		width: 70px;
		position: relative;

		.month {
			display: block;
			text-align: center;
		}

		.day {
			display: block;
			text-align: center;
			font-size: 30px;
			font-weight: bold;
			margin-top: -5px;
		}
	}

	.title {
		>h3 {
			margin: 0 auto;
			text-align: center;

			>a {
				color: #555555;

				&:hover {
					color: #D9534F;
					transition: all 0.25s ease-in-out 0s;
				}
			}
		}
	}
	>.thumbnail {
		padding: 0;
		img {
			max-width: 100%;
			height: auto;
			border: 5px solid #E3E3E3;
			border-radius: 3px;
			margin-left: auto;
			margin-right: auto;
			transition: all 0.2s ease-in-out 0s;

			&:hover {
				opacity: 0.8;
				border: 5px solid #D9534F;
			}
		}
	}
	.well {
		font-size: 12px;
	}
	.footer {
		overflow: hidden;
	}
	.tag {
		font-size: 12px;
		line-height: 31px;

		span {
			background-color: #3D4450;
			margin-right: 5px;

			a {
				color: #FFFFFF
			}
		}
	}
}