
<div class="article content-frame clearfix">
	
	<div class="glyphicon glyphicon-bookmark olx-glyphicon-bookmark"></div>
	
	<div class="article-date" title="创建于 2011-07-08 15:50:29">
		<span class="month">07月</span>
		<span class="day">08</span>
	</div>
	<div class="article-content">
		<div class="content-title">
			<h3>
				<a href="/archive/c8a092e9920e11e3a195b888e3351e26.html">win7 安装 mysql</a>
			</h3>
		</div>
		<div class="content-tag">
			<span class="label label-success olx-label">
				<span class="glyphicon glyphicon-tag"></span>
				<a rel="category tag" title="查看 foreworld 中的全部文章" href="/archive/author/foreworld">foreworld</a></span>
			<span class="label label-success olx-label"><span class="glyphicon glyphicon-user"></span>
				<a rel="category tag" title="由 洪荒世界 发布" href="javascript:;">洪荒世界</a></span>
			<span class="label label-success olx-label"><span class="glyphicon glyphicon-eye-open"></span> <a>1,713人</a>
			</span>
			
		</div>
		<div class="content-article">
            
			<figure class="thumbnail clearfix">
				<a href="/archive/c8a092e9920e11e3a195b888e3351e26.html">
					<img src="/userData/foreworld/20140122/110203.jpg" alt="/userData/foreworld/20140122/110203.jpg">
				</a>
			</figure>
		    
			<div class="alert olx-alert clearfix">&lt;p&gt;&#20197;&#31649;&#29702;&#21592;&#36523;&#20221;&#36816;&#34892;&lt;/p&gt;
&lt;p&gt;D:\software\mysql\mysql-5.5.11-win32\bin&amp;amp;gt;mysqld --install&lt;br /&gt;
Service successfully installed.&lt;br /&gt;
&lt;br /&gt;
D:\software\mysql\mysql-5.5.11-win32\bin&amp;amp;gt;net start mysql&lt;br /&gt;
MySQL &#26381;&#21153;&#27491;&#22312;&#21551;&#21160; ....&lt;br /&gt;
MySQL &#26381;&#21153;&#24050;&#32463;&#21551;&#21160;&#25104;&#21151;&#12290;&lt;br /&gt;
&lt;br /&gt;
D:\software\mysql\mysql-5.5.11-win32\bin&amp;amp;gt;net stop mysql&lt;br /&gt;
MySQL &#26381;&#21153;&#27491;&#22312;&#20572;&#27490;.&lt;br /&gt;
MySQL &#26381;&#21153;&#24050;&#25104;&#21151;&#20572;&#27490;&#12290;&lt;br /&gt;
&lt;br /&gt;
D:\software\mysql\mysql-5.5.11-win32\bin&amp;amp;gt;net start mysql&lt;br /&gt;
MySQL &#26381;&#21153;&#27491;&#22312;&#21551;&#21160; .&lt;br /&gt;
MySQL &#26381;&#21153;&#24050;&#32463;&#21551;&#21160;&#25104;&#21151;&#12290;&lt;/p&gt;</div>
		</div>
		<div class="content-footer">
			<div class="footer-tag clearfix">
				
				<span class="label label-success olx-tag">
					<a rel="tag" title="查看 mysql 标签" href="/archive/tag/mysql">mysql</a>
				</span>
				
			</div>
			<a class="btn btn-danger pull-right" title="详细阅读 win7 安装 mysql" href="/archive/c8a092e9920e11e3a195b888e3351e26.html">
				阅读全文
				<span class="badge">1,713</span>
			</a>
		</div>
	</div>						
</div>						

<div class="article content-frame clearfix">
	
	<div class="article-date" title="创建于 2009-06-26 10:01:53">
		<span class="month">06月</span>
		<span class="day">26</span>
	</div>
	<div class="article-content">
		<div class="content-title">
			<h3>
				<a href="/archive/c8a091da920e11e3a195b888e3351e26.html">倒霉！！！</a>
			</h3>
		</div>
		<div class="content-tag">
			<span class="label label-success olx-label">
				<span class="glyphicon glyphicon-tag"></span>
				<a rel="category tag" title="查看 foreworld 中的全部文章" href="/archive/author/foreworld">foreworld</a></span>
			<span class="label label-success olx-label"><span class="glyphicon glyphicon-user"></span>
				<a rel="category tag" title="由 洪荒世界 发布" href="javascript:;">洪荒世界</a></span>
			<span class="label label-success olx-label"><span class="glyphicon glyphicon-eye-open"></span> <a>1,874人</a>
			</span>
			
		</div>
		<div class="content-article">
            
			<figure class="thumbnail clearfix">
				<a href="/archive/c8a091da920e11e3a195b888e3351e26.html">
					<img src="/userData/foreworld/20140122/104601.jpg" alt="/userData/foreworld/20140122/104601.jpg">
				</a>
			</figure>
		    
			<div class="alert olx-alert clearfix">&lt;p&gt;&#26152;&#22825;&#25972;&#29702;&#25968;&#25454;&#65292;&#35823;&#21024;&#38500;&#20102;ftp&#19978;&#20840;&#37096;&#30340;&#25991;&#20214;&#65292;&#20170;&#22825;&#24674;&#22797;&#20102;&#37096;&#20998;&#25968;&#25454;&#65292;&#20498;&#38665;&#21834;&#65292;&#20063;&#19981;&#30693;&#36947;&#26197;&#21861;&#20102;&#65281;&#65281;&#65281;&lt;/p&gt;</div>
		</div>
		<div class="content-footer">
			<div class="footer-tag clearfix">
				
			</div>
			<a class="btn btn-danger pull-right" title="详细阅读 倒霉！！！" href="/archive/c8a091da920e11e3a195b888e3351e26.html">
				阅读全文
				<span class="badge">1,874</span>
			</a>
		</div>
	</div>						
</div>						

<div class="article content-frame clearfix">
	
	<div class="article-date" title="创建于 2009-06-14 8:37:03">
		<span class="month">06月</span>
		<span class="day">14</span>
	</div>
	<div class="article-content">
		<div class="content-title">
			<h3>
				<a href="/archive/c8a090cb920e11e3a195b888e3351e26.html">国产动漫和日本动漫开战</a>
			</h3>
		</div>
		<div class="content-tag">
			<span class="label label-success olx-label">
				<span class="glyphicon glyphicon-tag"></span>
				<a rel="category tag" title="查看 foreworld 中的全部文章" href="/archive/author/foreworld">foreworld</a></span>
			<span class="label label-success olx-label"><span class="glyphicon glyphicon-user"></span>
				<a rel="category tag" title="由 洪荒世界 发布" href="javascript:;">洪荒世界</a></span>
			<span class="label label-success olx-label"><span class="glyphicon glyphicon-eye-open"></span> <a>1,836人</a>
			</span>
			
		</div>
		<div class="content-article">
            
			<div class="alert olx-alert clearfix"></div>
		</div>
		<div class="content-footer">
			<div class="footer-tag clearfix">
				
			</div>
			<a class="btn btn-danger pull-right" title="详细阅读 国产动漫和日本动漫开战" href="/archive/c8a090cb920e11e3a195b888e3351e26.html">
				阅读全文
				<span class="badge">1,836</span>
			</a>
		</div>
	</div>						
</div>						

<div class="article content-frame clearfix">
	
	<div class="article-date" title="创建于 2009-06-01 12:36:10">
		<span class="month">06月</span>
		<span class="day">01</span>
	</div>
	<div class="article-content">
		<div class="content-title">
			<h3>
				<a href="/archive/c8a08e7c920e11e3a195b888e3351e26.html">RCP 添加全局快捷键</a>
			</h3>
		</div>
		<div class="content-tag">
			<span class="label label-success olx-label">
				<span class="glyphicon glyphicon-tag"></span>
				<a rel="category tag" title="查看 foreworld 中的全部文章" href="/archive/author/foreworld">foreworld</a></span>
			<span class="label label-success olx-label"><span class="glyphicon glyphicon-user"></span>
				<a rel="category tag" title="由 洪荒世界 发布" href="javascript:;">洪荒世界</a></span>
			<span class="label label-success olx-label"><span class="glyphicon glyphicon-eye-open"></span> <a>3,313人</a>
			</span>
			
		</div>
		<div class="content-article">
            
			<figure class="thumbnail clearfix">
				<a href="/archive/c8a08e7c920e11e3a195b888e3351e26.html">
					<img src="/userData/foreworld/20140207/134411.jpg" alt="/userData/foreworld/20140207/134411.jpg">
				</a>
			</figure>
		    
			<div class="alert olx-alert clearfix">&lt;p&gt;&#20197;net.foreworld.rss2&#20026;&#20363;&#65292;&#28155;&#21152;&#19968;&#20010;Ctrl+N&#25171;&#24320;&#26032;&#31383;&#21475;&#21151;&#33021;&#12290;&lt;/p&gt;
&lt;p&gt;1. &#22312;plugin.xml&#20013;&#28155;&#21152;org.eclipse.ui.commands&#25193;&#23637;&#28857;&lt;/p&gt;
&lt;div style=&amp;#34;border-right: windowtext 0.5pt solid; padding-right: 5.4pt; border-top: windowtext 0.5pt solid; padding-left: 5.4pt; background: #e6e6e6; padding-bottom: 4px; border-left: windowtext 0.5pt solid; width: 95%; word-break: break-all; padding-top: 4px; border-bottom: windowtext 0.5pt solid&amp;#34;&gt;&amp;amp;lt;extension&lt;br /&gt;
&amp;amp;nbsp;point=&amp;amp;quot;org.eclipse.ui.commands&amp;amp;quot;&amp;amp;gt;&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;lt;category&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;description=&amp;amp;quot;Foreworld&amp;amp;quot;&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;id=&amp;amp;quot;&lt;span style=&amp;#34;color: #ff00ff&amp;#34;&gt;net.foreworld.rss2.commands&lt;/span&gt;&amp;amp;quot;&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;name=&amp;amp;quot;Foreworld&amp;amp;quot;&amp;amp;gt;&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;lt;/category&amp;amp;gt;&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;lt;command&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;categoryId=&amp;amp;quot;&lt;span style=&amp;#34;color: #ff00ff&amp;#34;&gt;net.foreworld.rss2.commands&lt;/span&gt;&amp;amp;quot;&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;description=&amp;amp;quot;&#25171;&#24320;&#26032;&#31383;&#21475;&amp;amp;quot;&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;id=&amp;amp;quot;&lt;span style=&amp;#34;color: #ff0000&amp;#34;&gt;net.foreworld.rss2.bindings.command.open_new_window&lt;/span&gt;&amp;amp;quot;&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;name=&amp;amp;quot;&#25171;&#24320;&#26032;&#31383;&#21475;&amp;amp;quot;&amp;amp;gt;&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;lt;/command&amp;amp;gt;&lt;br /&gt;
&amp;amp;lt;/extension&amp;amp;gt;&lt;/div&gt;
&lt;p&gt;2. &#22312;plugin.xml&#20013;&#28155;&#21152;org.eclipse.ui.bindings&#25193;&#23637;&#28857;&lt;/p&gt;
&lt;div style=&amp;#34;border-right: windowtext 0.5pt solid; padding-right: 5.4pt; border-top: windowtext 0.5pt solid; padding-left: 5.4pt; background: #e6e6e6; padding-bottom: 4px; border-left: windowtext 0.5pt solid; width: 95%; word-break: break-all; padding-top: 4px; border-bottom: windowtext 0.5pt solid&amp;#34;&gt;&amp;amp;lt;extension&lt;br /&gt;
&amp;amp;nbsp;point=&amp;amp;quot;org.eclipse.ui.bindings&amp;amp;quot;&amp;amp;gt;&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;lt;scheme&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;id=&amp;amp;quot;&lt;span style=&amp;#34;color: #993300&amp;#34;&gt;net.foreworld.rss2.bindings&lt;/span&gt;&amp;amp;quot;&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;name=&amp;amp;quot;Foreworld&amp;amp;quot;&amp;amp;gt;&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;lt;/scheme&amp;amp;gt;&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;lt;key&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;commandId=&amp;amp;quot;&lt;span style=&amp;#34;color: #ff0000&amp;#34;&gt;net.foreworld.rss2.bindings.command.open_new_window&lt;/span&gt;&amp;amp;quot;&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;schemeId=&amp;amp;quot;&lt;span style=&amp;#34;color: #993300&amp;#34;&gt;net.foreworld.rss2.bindings&lt;/span&gt;&amp;amp;quot;&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;sequence=&amp;amp;quot;Ctrl+N&amp;amp;quot;&amp;amp;gt;&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;lt;/key&amp;amp;gt;&lt;br /&gt;
&amp;amp;lt;/extension&amp;amp;gt;&lt;/div&gt;
&lt;p&gt;3. &#22312;Action&#20013;&#35774;&#32622;&#20840;&#23616;&#24555;&#25463;&#38190;&lt;/p&gt;
&lt;div style=&amp;#34;border-right: windowtext 0.5pt solid; padding-right: 5.4pt; border-top: windowtext 0.5pt solid; padding-left: 5.4pt; background: #e6e6e6; padding-bottom: 4px; border-left: windowtext 0.5pt solid; width: 95%; word-break: break-all; padding-top: 4px; border-bottom: windowtext 0.5pt solid&amp;#34;&gt;public static final ActionFactory OPEN_NEW_WINDOW = new ActionFactory(ActionFactory.OPEN_NEW_WINDOW.getId()){&lt;br /&gt;
&amp;amp;nbsp;public IWorkbenchAction cr&amp;#101;ate(IWorkbenchWindow arg0) {&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;IWorkbenchAction action = ActionFactory.OPEN_NEW_WINDOW.cr&amp;#101;ate(arg0);&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;if(action != null){&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;action.setText(&amp;amp;quot;&#25171;&#24320;&#26032;&#31383;&#21475;(&amp;amp;amp;N)&amp;amp;quot;);&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;action.setActionDefinitionId(&amp;amp;quot;&lt;span style=&amp;#34;color: #ff0000&amp;#34;&gt;net.foreworld.rss2.bindings.command.open_new_window&lt;/span&gt;&amp;amp;quot;);&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;}&lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;return action;&lt;br /&gt;
&amp;amp;nbsp;}&lt;br /&gt;
};&lt;/div&gt;
</div>
		</div>
		<div class="content-footer">
			<div class="footer-tag clearfix">
				
				<span class="label label-success olx-tag">
					<a rel="tag" title="查看 Eclipse 标签" href="/archive/tag/Eclipse">Eclipse</a>
				</span>
				
				<span class="label label-success olx-tag">
					<a rel="tag" title="查看 RCP 标签" href="/archive/tag/RCP">RCP</a>
				</span>
				
			</div>
			<a class="btn btn-danger pull-right" title="详细阅读 RCP 添加全局快捷键" href="/archive/c8a08e7c920e11e3a195b888e3351e26.html">
				阅读全文
				<span class="badge">3,313</span>
			</a>
		</div>
	</div>						
</div>						

<div class="article content-frame clearfix">
	
	<div class="article-date" title="创建于 2009-05-31 15:06:15">
		<span class="month">05月</span>
		<span class="day">31</span>
	</div>
	<div class="article-content">
		<div class="content-title">
			<h3>
				<a href="/archive/c8a08bf4920e11e3a195b888e3351e26.html">DOM4J 操作 XML</a>
			</h3>
		</div>
		<div class="content-tag">
			<span class="label label-success olx-label">
				<span class="glyphicon glyphicon-tag"></span>
				<a rel="category tag" title="查看 foreworld 中的全部文章" href="/archive/author/foreworld">foreworld</a></span>
			<span class="label label-success olx-label"><span class="glyphicon glyphicon-user"></span>
				<a rel="category tag" title="由 洪荒世界 发布" href="javascript:;">洪荒世界</a></span>
			<span class="label label-success olx-label"><span class="glyphicon glyphicon-eye-open"></span> <a>2,191人</a>
			</span>
			
		</div>
		<div class="content-article">
            
			<div class="alert olx-alert clearfix">&lt;p&gt;&amp;amp;nbsp;&#22312;&#39033;&#30446;&#20013;&#65292;&#25105;&#20204;&#24456;&#22810;&#37117;&#29992;&#21040;&#20102;xml&#25991;&#20214;&#65292;&#26080;&#35770;&#26159;&#21442;&#25968;&#37197;&#32622;&#36824;&#26159;&#19982;&#20854;&#23427;&#31995;&#32479;&#30340;&#25968;&#25454;&#20132;&#20114;&#12290;&lt;br /&gt;
&#20170;&#22825;&#23601;&#26469;&#35762;&#19968;&#19979;Java &#20013;&#20351;&#29992;dom4j&#26469;&#25805;&#20316;XML&#25991;&#20214;&#12290;&lt;/p&gt;
&lt;p&gt;&#25105;&#20204;&#38656;&#35201;&#24341;&#20837;&#30340;&#21253;&#65306;&lt;/p&gt;
&lt;div style=&amp;#34;border-right: windowtext 0.5pt solid; padding-right: 5.4pt; border-top: windowtext 0.5pt solid; padding-left: 5.4pt; background: #e6e6e6; padding-bottom: 4px; border-left: windowtext 0.5pt solid; width: 95%; word-break: break-all; padding-top: 4px; border-bottom: windowtext 0.5pt solid&amp;#34;&gt;//&#25991;&#20214;&#21253; &lt;br /&gt;
import java.io.ByteArrayOutputStream; &lt;br /&gt;
import java.io.File; &lt;br /&gt;
import java.io.FileWriter; &lt;br /&gt;
//&#24037;&#20855;&#21253; &lt;br /&gt;
import java.util.Iterator; &lt;br /&gt;
import java.util.List; &lt;br /&gt;
//dom4j&#21253; &lt;br /&gt;
import o&amp;#114;g.dom4j.Attribute; &lt;br /&gt;
import o&amp;#114;g.dom4j.Document; &lt;br /&gt;
import o&amp;#114;g.dom4j.DocumentHelper; &lt;br /&gt;
import o&amp;#114;g.dom4j.Element; &lt;br /&gt;
import o&amp;#114;g.dom4j.io.OutputFormat; &lt;br /&gt;
import o&amp;#114;g.dom4j.io.SAXReader; &lt;br /&gt;
import o&amp;#114;g.dom4j.io.XMLWriter;&lt;/div&gt;
&lt;p&gt;1. &#23558;XML&#25991;&#20214;&#30340;&#20869;&#23481;&#36716;&#21270;&#20026;String&lt;/p&gt;
&lt;div style=&amp;#34;border-right: windowtext 0.5pt solid; padding-right: 5.4pt; border-top: windowtext 0.5pt solid; padding-left: 5.4pt; background: #e6e6e6; padding-bottom: 4px; border-left: windowtext 0.5pt solid; width: 95%; word-break: break-all; padding-top: 4px; border-bottom: windowtext 0.5pt solid&amp;#34;&gt;/** &lt;br /&gt;
&amp;amp;nbsp;* doc2String &lt;br /&gt;
&amp;amp;nbsp;* &#23558;xml&#25991;&#26723;&#20869;&#23481;&#36716;&#20026;String &lt;br /&gt;
&amp;amp;nbsp;* @return &#23383;&#31526;&#20018; &lt;br /&gt;
&amp;amp;nbsp;* @param document &lt;br /&gt;
&amp;amp;nbsp;*/ &lt;br /&gt;
public static String doc2String(Document document){ &lt;br /&gt;
&amp;amp;nbsp;String s = &amp;amp;quot;&amp;amp;quot;; &lt;br /&gt;
&amp;amp;nbsp;try{ &lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;//&#20351;&#29992;&#36755;&#20986;&#27969;&#26469;&#36827;&#34892;&#36716;&#21270; &lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;ByteArrayOutputStream out = new ByteArrayOutputStream(); &lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;//&#20351;&#29992;GB2312&#32534;&#30721; &lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;OutputFormat format = new OutputFormat(&amp;amp;quot;&amp;amp;nbsp; &amp;amp;quot;, true, &amp;amp;quot;GB2312&amp;amp;quot;); &lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;XMLWriter writer = new XMLWriter(out, format); &lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;writer.write(document); &lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;s = out.toString(&amp;amp;quot;GB2312&amp;amp;quot;); &lt;br /&gt;
&amp;amp;nbsp;}&lt;br /&gt;
&amp;amp;nbsp;catch(Exception ex){&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp; &lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;ex.printStackTrace(); &lt;br /&gt;
&amp;amp;nbsp;}&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp; &lt;br /&gt;
&amp;amp;nbsp;return s; &lt;br /&gt;
}&lt;/div&gt;
&lt;p&gt;2. &#23558;&#31526;&#21512;XML&#26684;&#24335;&#30340;String &#36716;&#21270;&#20026;XML Document&lt;/p&gt;
&lt;div style=&amp;#34;border-right: windowtext 0.5pt solid; padding-right: 5.4pt; border-top: windowtext 0.5pt solid; padding-left: 5.4pt; background: #e6e6e6; padding-bottom: 4px; border-left: windowtext 0.5pt solid; width: 95%; word-break: break-all; padding-top: 4px; border-bottom: windowtext 0.5pt solid&amp;#34;&gt;/** &lt;br /&gt;
&amp;amp;nbsp;* string2Document &lt;br /&gt;
&amp;amp;nbsp;* &#23558;&#23383;&#31526;&#20018;&#36716;&#20026;Document &lt;br /&gt;
&amp;amp;nbsp;* @return&amp;amp;nbsp; &lt;br /&gt;
&amp;amp;nbsp;* @param s xml&#26684;&#24335;&#30340;&#23383;&#31526;&#20018; &lt;br /&gt;
&amp;amp;nbsp;*/ &lt;br /&gt;
public static Document string2Document(String s){ &lt;br /&gt;
&amp;amp;nbsp;Document doc = null; &lt;br /&gt;
&amp;amp;nbsp;try{ &lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;doc = DocumentHelper.parseText(s); &lt;br /&gt;
&amp;amp;nbsp;}&lt;br /&gt;
&amp;amp;nbsp;catch(Exception ex){&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp;&amp;amp;nbsp; &lt;br /&gt;
&amp;amp;nbsp;&amp;amp;nbsp;ex.printStackTrace(); &lt;br /&gt;
&amp;amp;nbsp;} &lt;br /&gt;
&amp;amp;nbsp;return doc; &lt;br /&gt;
}&lt;/div&gt;
</div>
		</div>
		<div class="content-footer">
			<div class="footer-tag clearfix">
				
				<span class="label label-success olx-tag">
					<a rel="tag" title="查看 JAVA 标签" href="/archive/tag/JAVA">JAVA</a>
				</span>
				
				<span class="label label-success olx-tag">
					<a rel="tag" title="查看 DOM4J 标签" href="/archive/tag/DOM4J">DOM4J</a>
				</span>
				
				<span class="label label-success olx-tag">
					<a rel="tag" title="查看 XML 标签" href="/archive/tag/XML">XML</a>
				</span>
				
			</div>
			<a class="btn btn-danger pull-right" title="详细阅读 DOM4J 操作 XML" href="/archive/c8a08bf4920e11e3a195b888e3351e26.html">
				阅读全文
				<span class="badge">2,191</span>
			</a>
		</div>
	</div>						
</div>						

<div class="article content-frame clearfix">
	
	<div class="article-date" title="创建于 2009-05-31 10:30:02">
		<span class="month">05月</span>
		<span class="day">31</span>
	</div>
	<div class="article-content">
		<div class="content-title">
			<h3>
				<a href="/archive/c8a089f7920e11e3a195b888e3351e26.html">ASP中使用XMLHTTP方式获取XML并与XSL结合解析生成字符串方式</a>
			</h3>
		</div>
		<div class="content-tag">
			<span class="label label-success olx-label">
				<span class="glyphicon glyphicon-tag"></span>
				<a rel="category tag" title="查看 foreworld 中的全部文章" href="/archive/author/foreworld">foreworld</a></span>
			<span class="label label-success olx-label"><span class="glyphicon glyphicon-user"></span>
				<a rel="category tag" title="由 洪荒世界 发布" href="javascript:;">洪荒世界</a></span>
			<span class="label label-success olx-label"><span class="glyphicon glyphicon-eye-open"></span> <a>2,331人</a>
			</span>
			
		</div>
		<div class="content-article">
            
			<div class="alert olx-alert clearfix">&lt;div style=&amp;#34;border-right: windowtext 0.5pt solid; padding-right: 5.4pt; border-top: windowtext 0.5pt solid; padding-left: 5.4pt; background: #e6e6e6; padding-bottom: 4px; border-left: windowtext 0.5pt solid; width: 95%; word-break: break-all; padding-top: 4px; border-bottom: windowtext 0.5pt solid&amp;#34;&gt;
&lt;p&gt;&amp;amp;lt;%&lt;br /&gt;
Response.CharSet = &amp;amp;quot;utf-8&amp;amp;quot;&lt;/p&gt;
&lt;p&gt;Set xmlhttp = Server.Cr&amp;#101;ateObject(&amp;amp;quot;Microsoft.XMLHTTP&amp;amp;quot;)&lt;/p&gt;
&lt;p&gt;xmlhttp.Open &amp;amp;quot;GET&amp;amp;quot;,&amp;amp;quot;&lt;a href=&amp;#34;http://localhost/ext2.2/my/form1.asp&amp;amp;quot;,False&amp;#34;&gt;http://localhost/ext2.2/my/form1.asp&amp;amp;quot;,False&lt;/a&gt;&amp;amp;nbsp;&amp;amp;nbsp; &amp;#39;&#21160;&#24577;&#29983;&#25104;&#30340;xml&lt;br /&gt;
xmlhttp.Send&lt;/p&gt;
&lt;p&gt;Set xml = Server.Cr&amp;#101;ateObject(&amp;amp;quot;Msxml2.DOMDocument&amp;amp;quot;)&lt;br /&gt;
xml.async = false&lt;br /&gt;
&amp;#39;xml.load(Server.Mappath(&amp;amp;quot;2.xml&amp;amp;quot;)) &amp;amp;rsquo;&#21487;&#20197;&#20351;&#29992;&#26412;&#22320;&#30340;xml&#65292;&#22914;&#26524;&#24819;&#20351;&#29992;&#36828;&#31243;&#30340;xml&#24517;&#39035;&#29992;&#19978;&#38754;&#30340;xmlhttp&#26041;&#24335;&#33719;&#21462;&lt;br /&gt;
xml.loadxml(xmlhttp.responseText)&lt;/p&gt;
&lt;/div&gt;</div>
		</div>
		<div class="content-footer">
			<div class="footer-tag clearfix">
				
				<span class="label label-success olx-tag">
					<a rel="tag" title="查看 ASP 标签" href="/archive/tag/ASP">ASP</a>
				</span>
				
				<span class="label label-success olx-tag">
					<a rel="tag" title="查看 XMLHTTP 标签" href="/archive/tag/XMLHTTP">XMLHTTP</a>
				</span>
				
			</div>
			<a class="btn btn-danger pull-right" title="详细阅读 ASP中使用XMLHTTP方式获取XML并与XSL结合解析生成字符串方式" href="/archive/c8a089f7920e11e3a195b888e3351e26.html">
				阅读全文
				<span class="badge">2,331</span>
			</a>
		</div>
	</div>						
</div>						

<div class="article content-frame clearfix">
	
	<div class="article-date" title="创建于 2009-05-31 10:27:06">
		<span class="month">05月</span>
		<span class="day">31</span>
	</div>
	<div class="article-content">
		<div class="content-title">
			<h3>
				<a href="/archive/c8a0881a920e11e3a195b888e3351e26.html">在ASP中调用DLL的方法</a>
			</h3>
		</div>
		<div class="content-tag">
			<span class="label label-success olx-label">
				<span class="glyphicon glyphicon-tag"></span>
				<a rel="category tag" title="查看 foreworld 中的全部文章" href="/archive/author/foreworld">foreworld</a></span>
			<span class="label label-success olx-label"><span class="glyphicon glyphicon-user"></span>
				<a rel="category tag" title="由 洪荒世界 发布" href="javascript:;">洪荒世界</a></span>
			<span class="label label-success olx-label"><span class="glyphicon glyphicon-eye-open"></span> <a>1,944人</a>
			</span>
			
		</div>
		<div class="content-article">
            
			<div class="alert olx-alert clearfix">&lt;p&gt;&#21160;&#24577;&#32852;&#25509;&#24211;(DLL)&#21487;&#20197;&#21152;&#24555;&#24212;&#29992;&#31243;&#24207;&#20851;&#38190;&#37096;&#20998;&#30340;&#25191;&#34892;&#36895;&#24230;&#65292;&#21516;&#26102;&#36890;&#36807;&#32479;&#19968;&#30340;COM&#25509;&#21475;&#35843;&#29992;&#65292;&#23545;DLL&#30340;&#20351;&#29992;&#20063;&#21487;&#20197;&#26368;&#22823;&#38480;&#24230;&#22320;&#21457;&#25381;&#32452;&#20214;&#30340;&#37325;&#29992;&#24615;&#12290;&#29992;&#25143;&#19981;&#24517;&#20851;&#24515;DLL&#37319;&#29992;&#20160;&#20040;&#35821;&#35328;&#32534;&#20889;&#65292;&#21482;&#38656;&#20851;&#27880;&#20854;&#25552;&#20379;&#20102;&#21738;&#20123;&#21151;&#33021;&#21450;&#25509;&#21475;&#21442;&#25968;&#65292;&#20415;&#21487;&#20197;&#20026;&#25105;&#25152;&#29992;&#12290;&lt;br /&gt;
&#30446;&#21069;&#65292;&#22522;&#20110;.Net&#25216;&#26415;&#32534;&#20889;&#30340;DLL&#32452;&#20214;&#36234;&#26469;&#36234;&#22810;&#65292;&#32780;&#20256;&#32479;&#30340;ASP&#20013;&#22914;&#26524;&#20063;&#21487;&#20197;&#24212;&#29992;&#36825;&#20123;&#32452;&#20214;&#25552;&#20379;&#30340;&#21151;&#33021;&#65292;&#21487;&#20197;&#36991;&#20813;&#24456;&#22810;&#31243;&#24207;&#21592;&#26080;&#35859;&#30340;&#21171;&#21160;&#12290;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;1. &#22312;ASP&#20013;&#35843;&#29992;&#20256;&#32479;&#30340;ActiveX DLL&lt;/strong&gt;&lt;br /&gt;
&lt;br /&gt;
&#35201;&#24819;&#35753;COM&#33021;&#22815;&amp;amp;ldquo;&#30475;&#21040;&amp;amp;rdquo;&#20320;&#30340;&#32452;&#20214;&#65292;&#24517;&#39035;&#20808;&#23558;&#32452;&#20214;&#27880;&#20876;&#21040;&#27880;&#20876;&#34920;&#20013;&#65306;&lt;br /&gt;
regsvr32 mydll.dll&lt;br /&gt;
&#28982;&#21518;&#22312;ASP&#20013;&#21019;&#24314;&#23545;&#35937;&#65306;&lt;br /&gt;
set mydll=server.cr&amp;#101;ateobject(&amp;amp;quot;mydll.method&amp;amp;quot;)&lt;br /&gt;
mydll.method&lt;br /&gt;
&#36825;&#26679;&#23601;&#21487;&#20197;&#20351;&#29992;&#32452;&#20214;&#20013;&#30340;&#23646;&#24615;&#21644;&#26041;&#27861;&#20102;&#12290;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;2. &#22312;ASP&#20013;&#35843;&#29992;&#22522;&#20110;.Net&#24320;&#21457;&#30340;DLL&lt;/strong&gt;&lt;br /&gt;
&#20851;&#20110;&#32452;&#20214;&#27880;&#20876;&#65292;&#19968;&#31181;&#26041;&#27861;&#26159;&#33258;&#21160;&#27880;&#20876;&#65292;&#22312;vs.net2003&#25110;2005&#30340;IDE&#29615;&#22659;&#20013;&#21487;&#20197;&#23454;&#29616;COM&#32452;&#20214;&#30340;&#33258;&#21160;&#27880;&#20876;&#65292;&#35774;&#32622;&#22914;&#19979;&#65306;&#39033;&#30446;&#21517;&#31216;-&amp;amp;gt;&#21491;&#38190;&amp;amp;quot;&#23646;&#24615;&amp;amp;quot;-&amp;amp;gt;&#37197;&#32622;&#23646;&#24615;-&amp;amp;gt;&#29983;&#25104;-&amp;amp;gt;&#36873;&#20013;&amp;amp;quot;&#20026;Com Interop&#27880;&#20876;&amp;amp;quot;&#65292;&#32534;&#35793;&#21363;&#21487;&#12290;&lt;br /&gt;
&#21478;&#19968;&#31181;&#26041;&#27861;&#26159;&#25163;&#21160;&#27880;&#20876;&#65306;&lt;br /&gt;
regasm mydll.dll /tlb:mydll.tlb /CodeBase&lt;br /&gt;
&#27880;&#24847;CodeBase&#30340;&#20351;&#29992;&#65292;&#22914;&#26524;&#20320;&#35201;&#27880;&#20876;&#30340;.NET&#31243;&#24207;&#38598;&#27809;&#26377;&#24378;&#21517;&#31216;&#30340;&#35805;&#65292;&#37027;&#20040;&#22312;&#20351;&#29992;regasm&#27880;&#20876;&#30340;&#26102;&#20505;&#23601;&#35201;&#21152;&#19978;/CodeBase&#12290;&lt;br /&gt;
&#27880;&#20876;&#23436;&#27605;&#65292;&#21019;&#24314;&#23545;&#35937;&#21450;&#20351;&#29992;&#26041;&#27861;&#19982;&#19978;&#38754;&#30456;&#21516;&#65306;&lt;br /&gt;
set mydll = server.cr&amp;#101;ateobject(&amp;amp;quot;mydll.method&amp;amp;quot;)&lt;br /&gt;
mydll.method&lt;/p&gt;
&lt;p&gt;&#20854;&#23454;&#65292;&#19981;&#21482;&#26159;ASP&#65292;&#20854;&#20182;&#30340;COM&#31243;&#24207;&#65288;&#21253;&#25324;VBA&#12289;&#25193;&#23637;&#23384;&#20648;&#36807;&#31243;&#31561;&#31561;&#65289;&#35843;&#29992;DLL&#30340;&#26041;&#27861;&#37117;&#26159;&#19968;&#26679;&#30340;&#12290;&lt;/p&gt;
</div>
		</div>
		<div class="content-footer">
			<div class="footer-tag clearfix">
				
				<span class="label label-success olx-tag">
					<a rel="tag" title="查看 ASP 标签" href="/archive/tag/ASP">ASP</a>
				</span>
				
				<span class="label label-success olx-tag">
					<a rel="tag" title="查看 DLL 标签" href="/archive/tag/DLL">DLL</a>
				</span>
				
			</div>
			<a class="btn btn-danger pull-right" title="详细阅读 在ASP中调用DLL的方法" href="/archive/c8a0881a920e11e3a195b888e3351e26.html">
				阅读全文
				<span class="badge">1,944</span>
			</a>
		</div>
	</div>						
</div>						

<div class="article content-frame clearfix">
	
	<div class="article-date" title="创建于 2009-05-31 10:20:13">
		<span class="month">05月</span>
		<span class="day">31</span>
	</div>
	<div class="article-content">
		<div class="content-title">
			<h3>
				<a href="/archive/c8a083df920e11e3a195b888e3351e26.html">喝酒的技巧（非常实用）</a>
			</h3>
		</div>
		<div class="content-tag">
			<span class="label label-success olx-label">
				<span class="glyphicon glyphicon-tag"></span>
				<a rel="category tag" title="查看 foreworld 中的全部文章" href="/archive/author/foreworld">foreworld</a></span>
			<span class="label label-success olx-label"><span class="glyphicon glyphicon-user"></span>
				<a rel="category tag" title="由 洪荒世界 发布" href="javascript:;">洪荒世界</a></span>
			<span class="label label-success olx-label"><span class="glyphicon glyphicon-eye-open"></span> <a>1,915人</a>
			</span>
			
		</div>
		<div class="content-article">
            
			<div class="alert olx-alert clearfix">&lt;p&gt;&#35268;&#30697;&#19968; &#37202;&#26700;&#19978;&#34429;&#28982;&amp;amp;ldquo;&#24863;&#24773;&#28145;&#65292;&#19968;&#21475;&#38391;&#65307;&#24863;&#24773;&#27973;&#65292;&#33300;&#19968;&#33300;&amp;amp;rdquo;&#20294;&#26159;&#21917;&#37202;&#30340;&#26102;&#20505;&#20915;&#19981;&#33021;&#25226;&#36825;&#21477;&#35805;&#25346;&#22312;&#22068;&#19978;&#12290;&lt;/p&gt;
&lt;p&gt;&#35268;&#30697;&#20108; &#38892;&#20809;&#20859;&#26214;&#65292;&#21402;&#38598;&#25773;&#21457;&#65292;&#20999;&#19981;&#21487;&#19968;&#19978;&#37202;&#26700;&#23601;&#20805;&#22823;&#12290;&lt;/p&gt;
&lt;p&gt;&#35268;&#30697;&#19977; &#39046;&#23548;&#30456;&#20114;&#21917;&#23436;&#25165;&#36718;&#21040;&#33258;&#24049;&#25964;&#12290;&lt;/p&gt;
&lt;p&gt;&#35268;&#30697;&#22235; &#21487;&#20197;&#22810;&#20154;&#25964;&#19968;&#20154;&#65292;&#20915;&#19981;&#21487;&#19968;&#20154;&#25964;&#22810;&#20154;&#65292;&#38500;&#38750;&#20320;&#26159;&#39046;&#23548;&#12290;&lt;/p&gt;
</div>
		</div>
		<div class="content-footer">
			<div class="footer-tag clearfix">
				
			</div>
			<a class="btn btn-danger pull-right" title="详细阅读 喝酒的技巧（非常实用）" href="/archive/c8a083df920e11e3a195b888e3351e26.html">
				阅读全文
				<span class="badge">1,915</span>
			</a>
		</div>
	</div>						
</div>						

<div class="article content-frame clearfix">
	
	<div class="article-date" title="创建于 2009-05-31 10:15:59">
		<span class="month">05月</span>
		<span class="day">31</span>
	</div>
	<div class="article-content">
		<div class="content-title">
			<h3>
				<a href="/archive/c8a081bd920e11e3a195b888e3351e26.html">陶晶莹的月经论述（女生要看，男生更要看）</a>
			</h3>
		</div>
		<div class="content-tag">
			<span class="label label-success olx-label">
				<span class="glyphicon glyphicon-tag"></span>
				<a rel="category tag" title="查看 foreworld 中的全部文章" href="/archive/author/foreworld">foreworld</a></span>
			<span class="label label-success olx-label"><span class="glyphicon glyphicon-user"></span>
				<a rel="category tag" title="由 洪荒世界 发布" href="javascript:;">洪荒世界</a></span>
			<span class="label label-success olx-label"><span class="glyphicon glyphicon-eye-open"></span> <a>1,480人</a>
			</span>
			
		</div>
		<div class="content-article">
            
			<div class="alert olx-alert clearfix">&lt;p&gt;&#22823;&#37096;&#20998;&#30340;&#30007;&#20154;&#26080;&#27861;&#29702;&#35299;&#22899;&#20154;&#32463;&#21069;&#32463;&#24460;&#30340;&#27463;&#26031;&#24213;&#37324;&#65292;&amp;amp;nbsp;&lt;/p&gt;
&lt;p&gt;&#29978;&#33267;&#26377;&#30340;&#30007;&#20154;&#22362;&#25345;&#65292;&#22914;&#26524;&#22899;&#20154;&#22825;&#22825;&#35201;&#27714;&#20004;&#24615;&#24179;&#26435;&#65292;&amp;amp;nbsp;&lt;/p&gt;
&lt;p&gt;&#23601;&#19981;&#24212;&#35813;&#21033;&#29992;&#26376;&#32463;&#25198;&#28436;&#24369;&#32773;&#21338;&#21462;&#21516;&#24773;&#12290;&amp;amp;nbsp;&lt;/p&gt;
&lt;p&gt;&#22914;&#26524;&#30007;&#20154;&#22312;&#33258;&#24049;&#30340;&#19979;&#20307;&#34987;&#39640;&#36319;&#38795;&#36830;&#36409;&#19971;&#22825;&#32780;&#19981;&#21696;&#19981;&#32553;&#65292;&amp;amp;nbsp;&lt;/p&gt;
</div>
		</div>
		<div class="content-footer">
			<div class="footer-tag clearfix">
				
			</div>
			<a class="btn btn-danger pull-right" title="详细阅读 陶晶莹的月经论述（女生要看，男生更要看）" href="/archive/c8a081bd920e11e3a195b888e3351e26.html">
				阅读全文
				<span class="badge">1,480</span>
			</a>
		</div>
	</div>						
</div>						

<div class="article content-frame clearfix">
	
	<div class="article-date" title="创建于 2009-05-31 10:14:26">
		<span class="month">05月</span>
		<span class="day">31</span>
	</div>
	<div class="article-content">
		<div class="content-title">
			<h3>
				<a href="/archive/c8a068c1920e11e3a195b888e3351e26.html">两个人在一起真的是很需要缘份吗？</a>
			</h3>
		</div>
		<div class="content-tag">
			<span class="label label-success olx-label">
				<span class="glyphicon glyphicon-tag"></span>
				<a rel="category tag" title="查看 foreworld 中的全部文章" href="/archive/author/foreworld">foreworld</a></span>
			<span class="label label-success olx-label"><span class="glyphicon glyphicon-user"></span>
				<a rel="category tag" title="由 洪荒世界 发布" href="javascript:;">洪荒世界</a></span>
			<span class="label label-success olx-label"><span class="glyphicon glyphicon-eye-open"></span> <a>1,315人</a>
			</span>
			
		</div>
		<div class="content-article">
            
			<div class="alert olx-alert clearfix">&lt;p&gt;&#20004;&#20010;&#20154;&#22312;&#19968;&#36215;&#30495;&#30340;&#26159;&#24456;&#38656;&#35201;&#32536;&#20221;&#65292;&#26082;&#28982;&#20320;&#20204;&#36873;&#25321;&#20102;&#22312;&#19968;&#36215;&#65292;&#23601;&#29992;&#28857;&#26234;&#24935;&#22909;&#22909;&#30340;&#32463;&#33829;&#20320;&#20204;&#30340;&#29233;&#24773;&#21543;&#12290;&#12288;&#12288;&lt;/p&gt;
&lt;p&gt;&#31532;&#19968;&#65306;&#19981;&#35201;&#38382;&#22899;&#20154;&#20197;&#21069;&#30340;&#20107;&#65292;&#27605;&#31455;&#36807;&#21435;&#30340;&#20107;&#20102;&#65292;&#35828;&#30340;&#35814;&#32454;&#20320;&#21448;&#21463;&#19981;&#20102;&#65292;&#35828;&#30340;&#31616;&#21333;&#20320;&#23601;&#24515;&#37324;&#32769;&#26159;&#25171;&#38382;&#34399;&#12290;&#12288;&lt;/p&gt;
&lt;p&gt;&#31532;&#20108;&#65306;&#21516;&#26679;&#65292;&#20320;&#20063;&#19981;&#35201;&#21644;&#22905;&#35828;&#22826;&#22810;&#20197;&#21069;&#30340;&#20107;&#65292;&#29305;&#21035;&#26159;&#20320;&#20197;&#21069;&#22914;&#20309;&#22914;&#20309;&#30340;&#28145;&#24773;&#65292;&#22914;&#20309;&#22914;&#20309;&#30340;&#19981;&#35201;&#33258;&#23562;&#21435;&#29233;&#21478;&#19968;&#20010;&#22899;&#20154;&#12290;&#12288;&#12288; &lt;br /&gt;
&lt;br /&gt;
&#31532;&#19977;&#65306;&#19981;&#35201;&#26377;&#22788;&#22899;&#24773;&#32467;&#65292;&#34429;&#28982;&#29616;&#22312;&#36825;&#31038;&#20250;&#65292;&#26377;&#22788;&#22899;&#24773;&#32467;&#30340;&#20154;&#19981;&#20250;&#24456;&#22810;&#65292;&#20294;&#32456;&#31350;&#26159;&#30007;&#20154;&#65292;&#22810;&#22810;&#23569;&#23569;&#20250;&#20171;&#24847;&#65292;&#35760;&#24471;&#25670;&#27491;&#33258;&#24049;&#30340;&#24515;&#24577;&#12290;&lt;/p&gt;
&lt;p&gt;&#31532;&#22235;&#65306;&#19981;&#35201;&#22826;&#22823;&#30007;&#20154;&#20027;&#20041;&#65292;&#29616;&#22312;&#30340;&#26032;&#26102;&#20195;&#22899;&#24615;&#65292;&#20877;&#20063;&#19981;&#26159;&#20197;&#21069;&#30340;&#37027;&#20123;&#21807;&#21629;&#26159;&#20174;&#30340;&#23567;&#22899;&#23376;&#20102;&#65292;&#36807;&#20110;&#22823;&#30007;&#20154;&#20027;&#20041;&#65292;&#20250;&#35753;&#20154;&#21463;&#19981;&#20102;&#12290;&#12288;&#12288;&lt;/p&gt;
</div>
		</div>
		<div class="content-footer">
			<div class="footer-tag clearfix">
				
			</div>
			<a class="btn btn-danger pull-right" title="详细阅读 两个人在一起真的是很需要缘份吗？" href="/archive/c8a068c1920e11e3a195b888e3351e26.html">
				阅读全文
				<span class="badge">1,315</span>
			</a>
		</div>
	</div>						
</div>						
